<h3><a href="http://lynncyrin.me/post/about-life">About Life</a></h3>
<p>So I think what I have written here is essentially a philosophy of life. It may read as depressed, but it should be noted that I definitely am not sad right now. I'm just... feeling incredibly realistic. If you read it all, try to read it with rational thoughts - as opposed to emotions.</p>
<p>((TW: Death, Suicide))</p>
<p><readmore></readmore></p>
<p>So a particularly bad commute today made me realize a few things. By "particularly bad" I mean I spent most of my commute thinking "I'm going to die, this is killing me, I'm going to die." The thing that felt like it was going to kill me at this particular time was a migraine and stomach ache (unmemorable things in and of themselves but they were bad enough to feel like they were going to kill me, so...). While I was experiencing that though, my brain shifted into big picture / meta mode, and I realized a few things that I think are very important:</p>
<ul>
<li>Obviously everyone dies eventually</li>
<li>If something is painful enough to make you chant "I'm doing to die" (if nonverbally) then that's probably your body telling you that you are going to die sooner than you would otherwise</li>
<li>"I'm going to die" level pain is something I experience on a monthly basis</li>
<li>Me experiencing that pain is &gt; 90% of the time due to life stresses</li>
<li>The life stresses I'm reffering to are things caused entirely by circumstantial things, including but not limited to:<ul>
<li>being born to physically abusive parents</li>
<li>being born poor</li>
<li>being born black</li>
<li>being trans</li>
</ul>
</li>
<li>Because of said stresses I will <strong>for sure</strong> die sooner than I would otherwise. As backup data for this you should go find out the life expectency of black transgender women (which I cannot recall but I'm sure I'm a single digit amount of years away from, being 22 years old)</li>
</ul>
<p>These things made me a tad bit suicidal, but then I realized something more important. I'm already doing the things that I want to do. Things like:</p>
<ul>
<li>Writing for a rad magazine like <a href="http://modelviewculture.com/pieces/class-mobility-mentorship-and-getting-started-in-tech">Model View Culture</a></li>
<li>Starting <a href="http://www.collectqt.me/">CollectQT</a> (I basically wrote that whole page)</li>
<li>Helping launch <a href="https://gitlab.com/atunit/atunit/blob/develop/recruiting.md">ATUnit</a> (wrote that too)</li>
</ul>
<p>So regardless of the pain I'm experiencing now (luckily not <strong>right now</strong> because I've arrived "home" and am sitting on my bed) I'm working on making the world slightly less painful for people unlucky enough to be born with my same set of issues. This, plus the realization that I'm definitely going to die sooner that I would otherwise because of the people who profit off of my oppression <strong>[1]</strong>, has led to [more] aggressive decisions about what I will and will not do. It's led to a more... political balance about who I will and will not work for. If I get to into money issues such that I have to work for an organization full of white men just to be of able to eat... well I guess I didn't have that much more living to do anyways.<strong>[2]</strong></p>
<ul>
<li>
<p><strong>[1]</strong> Privileged groups are ALWAYS making money off of oppression, actively or not. This is how capitalism works. A short thought experiment for you. Imagine you are a cis white person applying for the same job that I, a black trans person, am applying for. Assuming same skill level, there will for sure be some system of oppression that comes into play (think about who is doing the hiring here, there, everywhere [hint: not black trans people]) that makes you get that job instead of me. I'll most likely end up in a less well paying job because of this. Congrats, you just passively contributed contributed to the systems of oppression that I experience. This is the context for my <a href="https://twitter.com/LynnMagic/status/458840510673612800">"if you want to increase represenation, then quit your job"</a> statement.</p>
</li>
<li>
<p><strong>[2]</strong> It should be stated that I do currently have the [privilege? | advantage? | luck? | idk] of enough income <a href="http://gittip.com/LynnMagic/">primarily from my gittip account that needs to move to ATUnit ASAP</a> that literally not being able to eat is VERY unlikely to be a worry for me.</p>
</li>
</ul>