<h3><a href="http://lynncyrin.me/post/countdowntoliftoff">Starting final liftoff countdown</a></h3>
<h4>[[ 5 ]]</h4>
<p>"I'm doing a lot of things, if you don't catch me now I'm liable to rocket into the stratosphere without you" &lt;- a quote from me of a few months ago, while I was still presently homeless in a shelter with no money. I'm usually a very humble person but I break that rule whenever it comes to using quotes from a very difficult time in my life. Also it'll help take some of the edge off of what you may or may not be about to read.</p>
<p>Content warning: my life is non-trivially intense. But I'm going to keep it short and try to skip over details whenever possible. Sexual and physical assault mentions ahead.</p>
<h4><a href="http://lynncyrin.me/post/countdowntoliftoff">[ Read More! ]</a></h4>
