<h3><a href="/post/fixing-not-broken">Making Better Decisions about When to Refactor your Code</a></h3>
<p><img alt="A commit message saying 'remove S3 stuff'" src="http://i.imgur.com/qP2hSPf.jpg" /></p>
<p>So that, that's the commit message of a developer doing something they probably shouldn't. Like, if you're going to refactor your code to move away from the leading solution for a particular problem, you had better do a lot of thinking on how you are going to do it. I didn't, and made a huge mess. Here's what happened:</p>
<p>I wanted to move away from using <a href="http://aws.amazon.com/s3">AWS S3</a> as the image hosting for <a href="http://gitlab.com/collectqt/quirell">Quirell</a>. I still think that reasons are pretty solid</p>
<ul>
<li>I want to make it easy for people to create their own version of Quirell, or at least to test the full feature set</li>
<li>To expidite that, I was going to make sure to eiter include throwaway account credentials (U: THROWAWAY_TEST_ACCOUNT@gmail.com // P: I_really_dont_care_about_this) or make it so that you only have to make one account with a provider that provides a variety of services (which in the case of Quirell, would be <a href="http://heroku.com">Heroku</a>)</li>
<li>Giving out throwaway account credentials for S3 is impossible since AWS requires a credit card on signup, which also makes getting AWS running at a basic level take more effort than [things that don't require a CC on signup]. Setting up <a href="http://aws.amazon.com/iam">IAM</a> doesn't really help in this regard.</li>
</ul>
<p>There are a few other reasons (S3 not being specific to images, and being popular enough that exploits are very well known, ...), but those are the big ones. They seemed like good enough reasons at the time to start looking into alternatives. I started with <a href="http://cloudinary.com">Cloudinary</a> and ended with...</p>
<p><img alt="A commit message saying 'Revert remove S3 stuff'" src="http://i.imgur.com/zlWpJSF.jpg" /></p>
<p>...going back to S3. Although it took me about a week's worth of work and a ton of frustration before I went back. Mainly because of 3 issues</p>
<ul>
<li>I didn't isolate the system in question (image uploads) from the rest of my application. I should have wrote a unit test with a webdriver like <a href="http://www.seleniumhq.org">selenium</a> (note: I haven't used Selenium before and I'm not exactly sure how I would write this test), and made sure to be aware of all the parts of my application that deal with image uploads.</li>
<li>I didn't properly define the system I was implementing. When searching for alternatives I was just thinking I need to do "image uploads" when really what I needed was "signed client side direct uploads". Those being an upload where the client asks your server for a signature so that they can upload to directly to the image server under your name.</li>
<li>I didn't make sure that the service I'm switching to actually supports the technology I'm using. Specifically, Cloudinary supports Django but not Flask. They're similar enough that you could swap out the Django depedencies for Flask specific or web framework agnostic code, but after about two days of trying to get that to work (again, without tests) I decided it wasn't worth my time.</li>
</ul>
<p>I'm going to compare to this a relatively simple refactor of swaping <a href="http://flask-wtf.readthedocs.org/en/latest/">flask-wtf</a> out for <a href="http://flask-seasurf.readthedocs.org/en/latest/">flask-seasurf</a> for handling CSRF protection. The simplicity of the system was very influential, but also I knew beforehand that:</p>
<ul>
<li>I could write a fairly straightforward test that looks for a 40X HTTP error, thrown when the CSRF validation fails</li>
<li>I could isolate testing CSRF validation from every other system (without having to learn selenium).</li>
<li>That CSRF validation is the entirety of what I wanted to accomplish</li>
<li>Both things work in flask (I mean, it's in the name)</li>
</ul>
<p>So that refactor was... mostly painless. I ran into an issue where I didn't isolate the system well enough, and it took me about 6 hours figure out what was wrong and whether or not it had to do with the refactor or not. Turns out that it didn't, <a href="https://gitlab.com/collectqt/quirell/issues/176#note_1171370">and I got a new issue report out of it</a>. But all in all, this experience was a ton less stressful than the one with S3 / cloudinary, and primarily for the reasons mentioned above. Hopefully other people will learn from my experience here, and:</p>
<ul>
<li>Write tests</li>
<li>Isolate the system</li>
<li>Accurately identify the system</li>
<li>Verify the dependencies</li>
</ul>
<p>Good luck!</p>