<h3><a href="/post/fixing-not-broken">Making Better Decisions about When to Refactor your Code</a></h3>
<div style="text-align: center;"> <img class="post-image" src="http://i.imgur.com/qP2hSPf.jpg" alt="A commit message saying 'remove S3 stuff'"></div>

<p>So that, that's the commit message of a developer doing something they probably shouldn't. Like, if you're going to refactor your code to move away from the leading solution for a particular problem, you had better do a lot of thinking on how you are going to do it. I didn't, and made a huge mess. Here's what happened:</p>
<h4><a href="http://lynncyrin.me/post/fixing-not-broken">[ Read More! ]</a></h4>
