<h3><a href="http://lynncyrin.me/post/health-tracker">IDEA! Community Health Tracker</a></h3>
<blockquote class="twitter-tweet" lang="en"><p>thinking of a web app that [voluntarily] tracks people who are members of a certain community so that you can track community health</p>&mdash; lynn, productivity! (@LynnMagic) <a href="https://twitter.com/LynnMagic/statuses/485581313110339585">July 6, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<h4><a href="http://lynncyrin.me/post/health-tracker">[ Read More! ]</a></h4>
