<h3><a href="http://lynncyrin.me/post/intern-problems">I'll make my own autobuilder! With... [insert futurama joke here]</a></h3>
<p>--- EDITORS NOTE: Most of the content here is purely satirical and should not be confused with actual plans or opinions</p>
<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/aredridel">@aredridel</a> ok. Just gonna create an autobuilder. No problem.</p>&mdash; lynn_cyrin.py (@lynncyrin) <a href="https://twitter.com/lynncyrin/statuses/476337912666005504">June 10, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<h4><a href="http://lynncyrin.me/post/intern-problems">[ Read More! ]</a></h4>
