<h3><a href="http://lynncyrin.me/post/outdoor-adventure">Outdoor Adventure</a></h3>
<h4>I needed a bit more willpower than usual to convince myself to go outside, and so this happened...</h4>
<blockquote class="twitter-tweet" lang="en"><p>I GO, ARMORED AGAINST THE MACHINATIONS OF THE CIS, INTO THE UNKNOWN TO CLAIM FOOD FOR MY PEOPLE</p>&mdash; lynn, adventurer (@LynnMagic) <a href="https://twitter.com/LynnMagic/statuses/498482101671301120">August 10, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<h4><a href="http://lynncyrin.me/post/outdoor-adventure">[ Read More! ]</a></h4>
