<h3><a href="http://lynncyrin.me/post/shelter">What happens when you criminalize homelessness</a></h3>
<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p>Anti homeless floor studs. Deprive them of shelter and they&#39;ll choose not to be homeless, right? <a href="http://t.co/MCCJLdWHYG">pic.twitter.com/MCCJLdWHYG</a> Via <a href="https://twitter.com/thejediknight1">@thejediknight1</a></p>&mdash; Tentacle Sixteen (@latentexistence) <a href="https://twitter.com/latentexistence/statuses/475222545927778305">June 7, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<h4><a href="http://lynncyrin.me/post/shelter">[ Read More! ]</a></h4>
