<h3><a href="http://lynncyrin.me/post/thebadvocatemag">A callout for a Popular LGBT Advocacy Magazine</a></h3>
<p>So there was an issue today with <a href="http://www.advocate.com/">a popular LGBT Advocacy Magazine</a> not having an understanding of the intersection of African American and transgender identities. The issue is ALMOST entirely with the headline of an article they published, headline shown here:</p>
<blockquote class="twitter-tweet" lang="en"><p>Is the T Word the New N Word? <a href="http://t.co/ZRFJWG4f6c">http://t.co/ZRFJWG4f6c</a></p>&mdash; The Advocate (@TheAdvocateMag) <a href="https://twitter.com/TheAdvocateMag/statuses/456759875347816449">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Firstly, no, it's not. Let there be no misunderstanding there. They are so dramatically not the same thing that when I first saw the headline, this was my response:</p>
<blockquote class="twitter-tweet" lang="en"><p>JESUS CHRIST WHITE PEOPLE GET IT TOGETHER&#10;&#10;IM TRANS&#10;&#10;AND BLACK&#10;&#10;THEYRE DIFFERENT&#10;&#10;<a href="https://twitter.com/TheAdvocateMag">@TheAdvocateMag</a> ??? &quot;Is the &#39;t-word&#39; the new &#39;n-word?&#39;&quot;</p>&mdash; Lynn Cyrin (@LynnMagic) <a href="https://twitter.com/LynnMagic/statuses/456797767529013249">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p><readmore></readmore></p>
<p>Note: it's not only white people who have this problem, but I use "white people" interchangeably with "racists" (because in fact, all white people are to some degree racist - but we won't get into that here). The wonderful <a href="https://twitter.com/TheTinaVasquez">Tina Vasquez</a> had a similar response to me, although she was quite a bit more eloquent about it. Some excerpts:</p>
<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/meadowgirl">@meadowgirl</a> I am not surprised this kind of shit is coming from <a href="https://twitter.com/TheAdvocateMag">@TheAdvocateMag</a>. What the ever loving fuck, though? WHAT THE FUCK.</p>&mdash; Tina Vasquez (@TheTinaVasquez) <a href="https://twitter.com/TheTinaVasquez/statuses/456910198691491840">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>White queer/trans folks: Gay is NOT the new black. The t-word is NOT the new n-word. Queer rights are NOT the new civil rights movement.</p>&mdash; Tina Vasquez (@TheTinaVasquez) <a href="https://twitter.com/TheTinaVasquez/statuses/456911612981805057">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>When you assert the t-word is the new n-word, say that shit to the face of a Black trans woman who gets called both. See how wrong you are.</p>&mdash; Tina Vasquez (@TheTinaVasquez) <a href="https://twitter.com/TheTinaVasquez/statuses/456912568779415552">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Yea. If you're new here, I'm a black trans woman myself. </p>
<p>After my response some individuals felt that I was overreacting, that I should just read the article and then it would all be ok. Well...</p>
<blockquote class="twitter-tweet" lang="en"><p>The problem is that the headline is appealing to and thus affirming white peoples racist associations of trans and black struggles</p>&mdash; Lynn Cyrin (@LynnMagic) <a href="https://twitter.com/LynnMagic/statuses/456802098990960640">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>[Slurs: ]&#10;&#10;Tranny is NOT the new Nigger &lt;- better fucking title</p>&mdash; Lynn Cyrin (@LynnMagic) <a href="https://twitter.com/LynnMagic/statuses/456802328394223616">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>So honestly, the problem is entirely with the headline. Even if a black trans woman wrote it, it's still advancing racism. EXCEPT THAT WASN'T EVEN TRUE!</p>
<blockquote class="twitter-tweet" lang="en"><p>.<a href="https://twitter.com/dnlreynolds">@dnlreynolds</a> and I wrote this piece for <a href="https://twitter.com/TheAdvocateMag">@TheAdvocateMag</a>. We interviewed <a href="https://twitter.com/carmen_carrera">@carmen_carrera</a> and <a href="https://twitter.com/MonicaBHillz">@MonicaBHillz</a>. <a href="http://t.co/2tWRw6PVl7">http://t.co/2tWRw6PVl7</a></p>&mdash; Parker Marie Molloy (@ParkerMolloy) <a href="https://twitter.com/ParkerMolloy/statuses/456761372215234560">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Neither of the writers is a black trans women. I was a bit put off by this</p>
<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/TheTinaVasquez">@TheTinaVasquez</a> <a href="https://twitter.com/MowMeNow">@MowMeNow</a> WHAT. THE. FUCK.&#10;&#10;WHAT THE FUCK&#10;&#10;ARE YOU EVEN SERIOUS</p>&mdash; Lynn Cyrin (@LynnMagic) <a href="https://twitter.com/LynnMagic/statuses/456931438655307776">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>and Tina had a wonderful counter suggestion</p>
<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/TheAdvocateMag">@TheAdvocateMag</a>: why did you choose the n-word for Parker&#39;s article? Why not &#39;spic&#39;? Why not the f-word? Is anti-blackness intentional?</p>&mdash; Tina Vasquez (@TheTinaVasquez) <a href="https://twitter.com/TheTinaVasquez/statuses/456921392051539969">April 17, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Because if you had gotten people with experience with the slurs in question, they might have realized that no - the t-word is NOT the new n-word. For such a wide variety of reasons. Please ask people with experience [read: black trans women (ex: myself)] with both those issues to find out exactly why. I might write about it later, maybe. But for now, ADVOCATEMAG FIX YOUR SHITTY ARTICLE.</p>
<p><strong>-- Love, Lynn</strong></p>