Flask==0.10.1
Flask-Scss==0.3
Jinja2==2.7.2
Markdown==2.4
MarkupSafe==0.19
PyRSS2Gen==1.1
PyYAML==3.11
Werkzeug==0.9.4
argparse==1.2.1
gunicorn==18.0
itsdangerous==0.24
pyScss==1.2.0.post3
six==1.6.1
wsgiref==0.1.2
