<h3>Guide for Contacting me</h3>
<p>Contacting me refers to communicating with me in any way. Be it verbal, electronic, twitter @'s, emails... anything.</p>
<h4>RE: Praise</h4>
<p>Feel very free and encouraged to contact me with "hey Lynn this thing you did is really great!". I will probably respond with thanks, but please know that you aren't entitled to a response. Also I am generally quick to call-out praise that's actually a backhanded compliment / leveraging respectibility politics / being shitty towards some sort of group.</p>
<h4>RE: Addressing me</h4>
<p>She, her, Lynn, Cyrin (as if it was my first name), Ms. Cyrin, Ms. Lynn, Ms. Conway, girl, lady, chick, are all great.</p>
<p>I don't like being addressed by neutrals (they / them). Using neutrals when you could instead by using feminines is liable to be seen as aggressive. Do not EVER use "stealth nuetrals" / "patraichy nuetrals" ex: dude, bro, man. If you're at all confused then you should default to conventionally feminine things and you'll be fine.</p>
<p>Using male coded anything will addressing me online will get you blocked / deleted unless you apologize for it quickly (you've got until maybe 5 minutes after I see it). Using male coded things while addressing me in meatspace will shut my brain down and be responded to as if it was an act of physical violence.</p>
<p>Do NOT. Under ANY circumstances verbalize my deadname while I'm around to hear it. If you HAVE to do it for some reason warm me first and I'll plug my ears or leave for a bit.</p>
<h4>RE: Systems of oppression in general</h4>
<p>I don't give Oppression 101 classes. I'm about to explain the basics of racism / transphobia / misogyny / homophobia to people. Don't ask me to give opinions of why people who are those things are the way they are (ex "why is cis scared of trans???"). Don't explain to me why that are that way (ex "well people are generally racist because..."). Unless of course it's for an event that I explicitly volunteered myself for. I'm liable to tell you just to google it though.</p>
<p>When contacting me do not explicitly state that you are cis / white / male / straight unless it is the topic of conversation. ESPECIALLY do not mention it in your first contact with me (ex: "Hi I'm white and...").</p>
<h4>RE: Cis Men in Particular</h4>
<p><strong>None of this is political (i.e. misandry), it's all PTSD stuff.</strong></p>
<p>I don't hang out with cis men. No working lunch, no event that I'm going to with you, none of that. If you want me to do something you need to bring along someone that isn't a cis man. Queer cis men are not an exception, queer cis men of color are not an except.</p>
<p>If you're a cis man who wants / needs to interact with me electronically, it is going to take me significantly more energy to interact with you if your handle / title / email address has "Mr" in it and / or your picture is a full picture of your face where you're looking at the camera.</p>
<h4>RE: Trans Advocacy</h4>
<p>Trans women are my favorites (because I am one!) but when possible all my trans advocacy is non-binary / genderqueer / two-spirit / [I need to build up the rest of this list...] inclusive. It's also trans masculine inclusive when reasonable (and it usually is!)</p>
<p>When I say "cis" what I mean is "identifying as the same binary sex category that you were assigned at birth". This is the simplest personal definition I could think of.</p>
<h4>RE: Voice</h4>
<p>When at all possible I'll avoid any means of communication that involves using my voice that isn't in meatspace. So phone calls are annoying but managable. Voicemails should be avoided like the plague.</p>
<h4>RE: Twitter</h4>
<p>@lynncyrin is for work</p>
<p>@lynnmagic is for everything else</p>
<p>Don't tweet @lynnmagic from an account with &gt;5k followers without asking first, don't link it in your article without asking first. Feel free to do either of those things with @lynncyrin without having to ask!</p>
<p>@lynnmagic might become private from time to time, @lynncyrin will always be public.</p>
<p>If you're unsure, use @lynncyrin</p>
<h4>RE: Facebook</h4>
<p>Anyone is free to add me on facebook whenever, although I'm liable not to accept a friend request if you haven't made first contact with me by some other means. My filters for adding people are fairly loose and don't stand up well to critique, so I don't welcome comments about why / whether or not I added [X] person as a friend.</p>
<h4>RE: Capitalism</h4>
<p>I view capitalism as inherently bad and entrepreneurship as a subset of capitalism and will generally avoid engaging with entrepreneurship (even if it's leftist / advocate) when possible.</p>
<h4>RE: Gay</h4>
<p>I'm really super gay and liable to flirt with all the cuties all the time. This is just a warning!</p>