<h3>Contact information and links</h3>
<p><a href="mailto:firemagelynn@gmail.com"><i class="fa fa-envelope"></i> firemagelynn@gmail.com</a></p>
<p><a href="https://twitter.com/lynncyrin"><i class="fa fa-twitter"></i> @lynncyrin</a> &lt;- work</p>
<p><a href="https://twitter.com/LynnMagic"><i class="fa fa-twitter"></i> @lynnmagic</a> &lt;- all other things</p>
<p><a href="https://www.gittip.com/LynnMagic/"><i class="fa fa-gittip"></i> gittip!</a></p>
<p><a href="http://linkedin.com/in/lynncyrin"><i class="fa fa-linkedin"></i> Linkedin</a></p>
<p><a href="https://github.com/LynnCo"><i class="fa fa-github"></i> Github</a></p>
<p><a href="http://lynncyrin.me/static/rss.xml"><i class="fa fa-rss-square"></i> RSS</a></p>
<p><i class="fa fa-skype"></i> Skype: lynn.nixi</p>