<h3>Work Experience</h3>
<h4>[last updated: February 2014]</h4>
<p>For a full resume, go get my linkedin from my contact section [or ask me to send you a PDF]. For an overiew, I've been...</p>
<p><strong>A Web Developer</strong> for Maven Youth in San Francisco</p>
<p><strong>Frontline Application Support</strong> for Community Behavioral Health Services in San Francisco</p>
<p><strong>A Student Ambassador</strong> for the Global Precipitation Mission at NASA Goddard</p>
<p><strong>[Assistant] Develop[er] of Semiconducting Polymers</strong> for the Department of Chemical and Biological Engineering at Drexel University</p>
<p><strong>An Information Custodian</strong> for Tristate Home Health Care in Washington DC</p>
<p><strong>A Volunteer Instructor</strong> for the National Building Museum in Washington DC</p>