<h3>My Projects</h3>
<p>this is just a brain dump until I can rewrite it coherently... Maven's site, my site, mentee, AGCM, galaxy, space game, yocto proj</p>
<p><a href="https://github.com/MavenYouth/Website/">Maven's site</a> [...] IDK, it's super in flux right now ask me later</p>
<p><a href="https://github.com/LynnCo/blog">my site</a> is super active at the moment</p>
<p><a href="http://lynnco.github.io/AGuideToClassMobility/">AGCM</a> has been a low priority thing for the last month, but I had to have some updates in the next month or so. Expect to see a flurry of work on it come september (I'll be in school)</p>
<p><a href="https://github.com/LynnCo/galaxySim">galaxy sim</a> thing is really pretty and ready for some production gifs whenever I get around to simulating them. They don't look at all like galaxies but they're pretty enough!</p>
<p><a href="https://github.com/LynnCo/UnnamedSpaceGame/">space game</a> is the most inactive of inactive projects but I'm looking to put some time into reorganizing and updating the code sometime soon</p>
<p><a href="https://www.yoctoproject.org/opw-internship">yocto project</a> work starts as a part of my OPW internship - which starts in May? June? idk. But it'll be full time and very difficult</p>