<h3>My Projects</h3>
<p>this is just a brain dump until I can rewrite it coherently... Maven's site, my site, mentee, AGCM, galaxy, space game, yocto proj</p>
<p>Maven's site is currently inactive and is more than likely going to be inactive for the indefinite future. Totally just looking to hand this project off to someone (maybe the mentee? hmmmm)</p>
<p>my site is super active at the moment</p>
<p>AGCM has been a low priority thing for the last month, but I had to have some updates in the next month or so. Expect to see a flurry of work on it come september (I'll be in school)</p>
<p>galaxy sim thing is really pretty and ready for some production gifs whenever I get around to simulating them. They don't look at all like galaxies but they're pretty enough!</p>
<p>space game is the most inactive of inactive projects but I'm looking to put some time into reorganizing and updating the code sometime soon</p>
<p>yocto project work starts as a part of my OPW internship - which starts in May? June? idk. But it'll be full time and very difficult</p>