<h3>My Projects</h3>
<p><b>Active</b></p>
    <ul class="list">
        <li><a href="https://github.com/LynnCo/AGuideToClassMobility">A Guide to Class Mobility</a></li>
        <li><a href="https://github.com/LynnCo/galaxySim">GalaxySim</a></li>
        <li><a href="https://github.com/LynnCo/lynnco.github.io">This website!</a></li>
        <li>College applications O.O</li>
    </ul>
</p>
<p><b>Inactive</b></p>
    <ul class="list">
        <li>Working on helping people get paid for their culture contributions</li>
        <li>Porting desktop games into HTML5</li>
        <li>Creating an Xkit alternative</li>
        <li>Massive rougelike space game</li>
        <li>Smaller, ideally 7 day rougelike</li>
        <li>Learning rails!</li>
    </ul>
<p><a onclick="swapPage('.contact')">Feel free to ask me</a> about any of the active ones! I love working with people, either collaboratively, as a project manager, or as a mentor / teacher. By contrast, the inactive ones I don't really have time for right now</p>