    <h3>Professional Info</h3>
    <p>For a full resume, go get my linkedin from my <a onclick="swapPage('.contact')">contact</a> section [or ask me to send you a PDF]. For an overiew, I've been...</p>
    <p><b>A Web Developer</b> for Maven Youth</p>
    <p><b>Frontline Application Support</b> for Community Behavioral Health Services</p>
    <p><b>A Student Ambassador</b> for the Global Precipitation Mission at NASA Goddard</p>
    <p><b>[Assistant] Develop[er] of Semiconducting Polymers</b> for the Department of Chemical and Biological Engineering at Drexel University</p>
    <p><b>An Information Custodian</b> for Tristate Home Health Care</p>
    <p><b>A Volunteer Instructor</b> for the National Building Museum</p>
    <p></p>