/* 

helper classes 

*/ 
.visible 
{
    opacity: 1;
}
.invisible 
{
    opacity: 0; 
}
.none 
{
    display: none;
}
.full-width
{
    width: 100%;
}
.full-height
{
    height: 100%;
}
/* 

general formatting

*/
body, html
{
    background-color: gray;
    margin: 0;
    padding: 0;
}
h1, h2, h3
{
    font-family: arial;
}
.content-title
{
    text-align: center;
}
/* 

specific formatting 

*/
.content-title
{
    height: 15%;
}
.frame-left
{
    position: fixed;
    width: 20%;
    height: 100%;
    padding-top: 15%;
}
    .frame-left button
    {
        display: block;
    }
    .buttons-top
    {
        width: 100%;
        height: 30%;
    }
    .buttons-middle
    {
        width: 100%;
        height: 30%;
    }
    .buttons-bottom
    {
        width: 100%;
    }
.sim-frame
{
    position: fixed;
    top: 15%;
    left: 20%;
    width: 80%;
    height: 85%;
    background-color: pink;
}
    .sim-display
    {
        margin-top: 2.5%;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: 95%;
        background-color: purple;
    }
        nav
        {
            position: absolute;
            right: 2.5%;
            width: 25%;
            height: 95%;
            background-color: gray;
        }
            .picture-frame
            {
                margin-top: 10%;
                margin-bottom: 10%;
                width: 80%;
                height: 20%;
                margin-left: auto;
                margin-right: auto;
                background-color: yellow;
            }
            nav button
            {
                width: 100%;
                display: block;
            }
/*

tablet formatting

*/

/*

mobile formatting

*/
@media all and (max-height: 500px) and (max-width: 500px)
{
    .frame-left
    {
        display: none;
    }
    .content-title
    {
        display: none;
    }
}