/*
main.css

Organization:

[HELPERS]
    basic stuff, like add to invisble or disable none
[GLOBAL]
    global styling
        font
        font style
        colors
[BASE LAYOUT]
    base layout
        height / width
        margin and padding
        font size
        shadows
[MOBILE]
    mobile media queries and layout
[EXTERNAL]
    styling for external resources. ex icons and fonts
*/

/*---------------
    HELPERS 
-----------------*/

.visible {opacity: 1;}
.invisible {opacity: 0;}
.none {display: none;}
.positionAbsolute {position: absolute;}
.positionStatic {position: static;}
.em2 {font-size: 2em;}
.em3 {font-size: 3em;}
.em4 {font-size: 4em;}
.em5 {font-size: 5em;}

.imgResponsive {}

.imgMax160x160 {
    max-width: 160px;
    max-height: 160px;
}

$primary_color = #7AADA6;
$secondary_color = #fda720;
$body_color = rgba(#fda720, 0.3);

$primary_font = "Press Start 2P", cursive;
$secondary_font = "Droid Sans Mono", sans-serif;

$mobile_xy = 500px;

/*---------------
    GLOBAL
-----------------*/

a {
    cursor: inherit;
    color: purple;
    text-decoration: inherit; }

nav a {color: black;}
article a {color: purple}
article a:hover {text-decoration: underline;}

h1, h2, h3, h4, h5, p {
    -webkit-margin-before: 0;  
    -webkit-margin-after: 0;
    margin-top: 0;  
    margin-bottom: 0;
    color: black }

h3 {
    -webkit-margin-before: 10px;  
    margin-bottom: 10px;}

html, body, .texture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: $body_color;
    overflow-x: hidden;
    font-family: $primary_font;
 }

.texture {position: fixed;}

.body_texture {
    background-image: url(../img/body.png);
    z-index: -1;
    opacity: 0.8;
}

#name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: $secondary_color;
    opacity: 0.7;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,.3);
}

nav button {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    border: none;
    text-align: right;
    background-color: $secondary_color;
    &:hover {
        color: $primary_color;
        background-color: black;
    }
    &:active {
        color: black;
        background-color: $primary_color;
    }
}

#me {
    position: relative;
    background-color: rgba(255,255,255,.7);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,.3);
}

nav {
    position: fixed;
    padding-top: 0;
    top: 0;
    left: 0;
    background-color: $primary_color;
    box-shadow: 0 15px 15px 7px rgba($secondary_color,.3);
}

h3 {
    text-align: center;
    background-color: $primary_color;
}

main {
    display: table;
    list-style-type: none;
    padding-top: 0;
    width: 100%; 
}

article {background-color: $body_color;}

article p, article blockquote, .list {
    font-family: $secondary_font;
    background-color: rgba(255, 255, 255, 0.15);
}

.list {list-style-type: square;}

/*-------------------
    BASE LAYOUT
---------------------*/

//this media query is just for consistency
@media all {

    #name {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    nav button {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        margin-bottom: 10px;
        right: 15%;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.66);
    }

    #me {
        display: block;
        height: 160px;
        width: 160px;
        margin-top: 10px;
        margin-bottom: 20px;
    img {
            height: 160px;
          width: 160px;
        }
    }

    nav {
        width: 20%;
        height: 100%;
    }

    h3 {
        font-size: 1.3em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main {
        margin-left: 25%;
    }

    article {
        padding-bottom: 5px;
        margin: 30px;
        margin-bottom: 20px;
        width: 65%;
        box-shadow: 15px 15px 5px 5px rgba(0, 0, 0, 0.1);
    }

    article p {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 1em;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .list {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 1em;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
    }
}

/*---------------
    MOBILE
-----------------*/

@media all and (max-height: $mobile_xy), (max-width: $mobile_xy){
    
    html {font-size: 0.7em;}
    
    #name {
        font-size: 0.7em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    nav button {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        margin-bottom: 5px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.66);
    }

    #me{display: none;}

    nav {
        width: 100%;
        height: auto;
        padding-bottom: 5px;
        position: static;
    }

    h3 {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    main {
        position: static;
        margin-left: 0;
    }

    article {
        padding-bottom: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    article p {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*---------------
    EXTERNAL
-----------------*/

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}

{% if config.OFFLINE -%}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(../locals/pressstart2p.tff) format('truetype');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url(../locals/droidsansmono.tff) format('truetype');
}
{%- endif %}