<!DOCTYPE html>
<!-- base.html -->
<html class="js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
		{% block head %}{% include 'head.html' %}{% endblock %}
	</head>
	<body>
        {% block navigation %}{% include 'nav.html' %}{% endblock %}
		{% block body %}
                <main>
                    {% for post in posts %}
                        <article>
                            {% filter markdown|snippet %}
                                {%- include post -%}
                            {% endfilter %}
                        </article>
                    {% endfor %}
                </main>
        {% endblock %}
        {% block footer %}{% include 'footer.html' %}{% endblock %}