<!DOCTYPE html>
<!-- base.html -->
<html class="js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
		{% block head %}{% include 'head.html' %}{% endblock %}
	</head>
	<body>
        {% block navigation %}{% include 'nav.html' %}{% endblock %}
		{% block body %}
                <main>
                    {% for post_url in post_urls %}
                        <article>
                            {% filter markdown %}
                                {% include post_url %}
                            {% endfilter %}
                        </article>
                    {% endfor %}
                </main>
        {% endblock %}
        {% block footer_resources %}{% include 'footer_resources.html' %}{% endblock %}
