<!doctype html>
<!-- head -->
<title>Hello from Flask</title>
<meta http-equiv="refresh" content="60">
<link href="static/css/main.css" rel="stylesheet">
<!-- body-->
<!--

h1 = the title at the top of the page
h2 = post titles
h3 = post subtitles

when you see [[thing]] then I need an icon for "thing"

responsive images???

-->
<div class="all-content">
	<div class="frame-left">
		<div class="buttons-top">
			<button id="a-button">A</button>
			<button id="b-button">B</button>
		</div>
		<div class="buttons-middle">
			<button id="dpad-up">[[up]]</button>
			<button id="dpad-down">[[down]]</button>
			<button id="dpad-left">[[left]]</button>
			<button id="dpad-right">[[right]]</button>
		</div>
		<div class="buttons-bottom">
			<button id="home-buttom">[[home]]</button>
			<button id="power-buttom">[[power]]</button>
		</div>
	</div>
	<div class="full-width content-title"><h1>Lynn Blog Simulator 2014</h1></div>
	<div class="sim-frame">
		<nav>
			<div class="picture-frame"><!-- mai gravatar --></div>
			<button></button>
		</nav>
	</div>
</div>