<!-- nav.html -->
	<a href="{{ url_for('index') }}"><div id="name"><h1>Lynn Cyrin</h1></div></a><br>
	<div id="me"><img src="{{ config.AVATAR }}" title="my gravatar picture"></div>
	<a href="{{ url_for('index') }}"><button class="nav">Home</button></a>
	<a href="{{ url_for('about') }}"><button class="nav">About Me</button></a>
	<a href="{{ url_for('contact') }}"><button class="nav">Contact</button></a>
	<a href="{{ url_for('name') }}"><button class="nav">Name</button></a>
	<a href="{{ url_for('professional') }}"><button class="nav">Work</button></a>
	<!-- kept as an example
	<button class="nav contact" onclick="swapPage('.contact')">Contact</button>
	-->