.sidebar-module.sidebar-module-about
    .avatar
        img(src="http://www.gravatar.com/avatar/b1cde28ce033c8cd6f4be4059efbe00b.png?size=160", alt="A picture of Lynn Cyrin")
    p Lynn Cyrin dot me is the #1 website to go to for top of the line information on Full Stack Web Developer and Activist, Lynn "Cyrin" Conway.
    p Website content is still work in progress, so don't send me emails about misaligned lists just yet.
.sidebar-module
    h4 Tagged Posts
    ol.list-unstyled
        li: a(href="/tagged/life") Life
        li: a(href="/tagged/advocacy") Advocacy
        li: a(href="/tagged/tech") Tech
