// styling.scss

.metadata {display: none;}

.avatar {
    text-align: center;
    img {
        height: 100px;
        border-radius: 50%;
    }
}

.sidebar-module-about {
    background-color: #f5f5f5;
    font-size: 0.8em;
}

footer {
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
