// styling.scss

body {
    font-family: $font_body;
    background-color: $color_secondary_faded;
}

.metadata {display: none;}

a {
    font-weight: bold;
    color: $color_dark_accent;
}

// nav

.navbar-default {
    box-shadow: 0 0 5px 1px $dark_primary;
    background-color: $dark_primary;
    border-style: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: $white;

    &:hover, &:focus {
        color: $color_primary;
    }
}

.navbar-default .navbar-collapse {
    border-color: $color-shadow;
}

#navbar-button {
    border-style: none;
    background-color: $white;

    .icon-bar {background-color: $dark_primary;}

    &:focus, &:hover {background-color: $color_primary;}
}

//

.avatar {
    text-align: center;
}

.sidebar-module-about {
    background-color: $color_primary_faded;
    font-size: 0.9em;
}

article {

    border-style: solid;
    border-color: $color_primary;
    background-color: $light_gray;

    h1, h2, h3, h3 a, h4, h4 a, h5 {
        text-align: center;
        color: $dark_primary;
        font-family: $font_head;
    }

    h3 {
        background-color: $color_primary;
    }
}

footer {
    text-align: center;
    box-shadow: 0 0 5px 1px $dark_primary;
    background-color: $dark_primary;
    color: white;
    a {
        color: $color_light_accent;
    }

    a:hover, a:focus {
        color: $color_primary;
    }
}
