// styling.scss

body {
    font-family: $font_body;
    background-color: $color_secondary_faded;
}

nav, .navbar-default {
    box-shadow: 0 0 5px 1px $deep_gray;
    background-color: $light_gray;
}

.metadata {display: none;}

a {
    font-weight: bold;
    color: $color_accent;
}

.avatar {
    text-align: center;
}

.sidebar-module-about {
    background-color: $color_primary_faded;
    font-size: 0.9em;
}

article {

    border-style: solid;
    border-color: $color_primary;
    background-color: $light_gray;

    h1, h2, h3, h3 a, h4, h4 a, h5 {
        text-align: center;
        color: $dark_primary;
        font-family: $font_head;
    }

    h3 {
        background-color: $color_primary;
    }
}

footer {
    text-align: center;
    box-shadow: 0 0 5px 1px $deep_gray;
    background-color: $light_gray;
}
