// variables.scss

$primary_color: #7AADA6;
$secondary_color: #fda720;
$body_color: rgba(#fda720, 0.3);

$head_font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$body_font: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
