/*---------------
    HELPERS
-----------------*/

$primary_color: #7AADA6;
$secondary_color: #fda720;
$body_color: rgba(#fda720, 0.3);

$head_font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$body_font: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

/*---------------
     GLOBAL
-----------------*/

.metadata {display: none;}

/*---------------
     LAYOUT
-----------------*/



/*---------------
     EXTERNAL
-----------------*/

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}
.fa-rss-square {color: orange;}

.twitter-tweet {margin-left: auto !important; margin-right: auto !important;}
