// main.scss

@import "_variables.scss";
@import "_styling.scss";
@import "_layout.scss";

/*---------------
     EXTERNAL
-----------------*/

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}
.fa-rss-square {color: orange;}
.fa-dollar {color: green;}

.twitter-tweet {margin-left: auto !important; margin-right: auto !important;}
